body {
    margin-left: 50px;
    margin-right: 50px;
}

#title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 5px;
}

#nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-item {
    padding: 16px;
}

.header {
    font-size: 24px;
    margin-top: 50px;
}

#projects {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    justify-content: center;
}

.project {
    list-style-type: none;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
}

.project:hover {
    background-color: lightgray;
}

.project-difficulty {
    padding-bottom: 10px;
    text-align: right;
}

.project-content {
    padding: 16px;
    padding-bottom: 30px;
}

.project-title {
    font-size: 22px;
}

.project-description {
    padding-top: 5px;

}

.project-tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    padding: 10px;
    justify-content: right;
}

.project-tag {
    padding: 5px;
}