#title {
    text-align: center;
    font-size: 3em;
}

#nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-item {
    padding: 16px;
}

.header {
    font-size: 1.5em;
}
